[config]

# Name of the VM which should be backed up
vm_name=testvm

# Middle part for the exported VM name
vm_middle=_BACKUP

# Description which should be set to the created snapshot
snapshot_description=Snapshot for backup script

# Url which you use to connect to your engine
server=https://ovirt-server.mydomain

# Username to connect to the engine
username=admin@internal

# Password for the above user
password=a_very_secure_password_:-)

# Name of the NFS Export Domain
export_domain=backup


# Timeout in seconds to wait during long time operations (snapshot creation, snapshot deletion, ...)
timeout=5

# The name of the cluster where the VM should be cloned
cluster_name=local_cluster

# How long backups should be keeped, this is in days 
backup_keep_count=3

# If set to "True" no creation, deletion and other operations will be executed
dry_run=True